<html>
  <head>
    <title>Rate Failed</title>
  </head>
  <body>
    <h1>Rate Failed</h1>
    <h2>You can only rate for once!</h2>
    <a href="/home"><button>Back to Home</button></a>
  </body>
</html>
